{% extends 'base.html' %}

{% block content %}

<nav class="sub-nav">
  <ul>
    <li><a href="#" class="active">Manuel d'utilisation</a></li>
    <li><a href="#">Notre équipe projet</a></li>
  </ul>
</nav>
<main class="container page-manuel">
  
  <h1 class="main-title">Manuel d'utilisation</h1>

  <div class="content-wrapper">

    <div class="text-content">
      <ul>
        <li><b>Accueil :</b> Bienvenu sur notre application</li>
        <li><b>Tableau de bord :</b> Informations relatives aux prélèvements en eau en France
          <ul>
            <li><b>Carte :</b> Informations sur les points de prélèvement</li>
            <li><b>Graphiques :</b> Informations statistiques sur les volumes et les usages de l'eau prélevée</li>
            <li><b>Évolution :</b> Informations sur l'évolution des habitudes vis-à-vis des prélèvements en eau dans le temps</li>
          </ul>
        </li>
        <li><b>À propos :</b> Informations ci-contre 😉</li>
      </ul>
    </div>

    <div class="image-content">
      <img src="static/images/illustration.png" alt="Illustration d'une personne utilisant l'application sur un ordinateur">
      <div class="caption">
        <p>Utilisateur familiarisé avec l'interface de notre application<br>– vous après avoir consulté cette page XD</p>
      </div>
    </div>

  </div>
</main>

{% endblock %}