<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{{ page_title }} | Prélèv’eau</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script src="https://unpkg.com/leaflet.heat@0.2.0/dist/leaflet-heat.js"></script>
  <!-- Enable browser caching for static assets -->
  <meta http-equiv="Cache-Control" content="public, max-age=604800, immutable">
</head>
<body>
  <!-- En-tête principal -->
  {% include 'header.html' %}

  <!-- Sub-header (si voulu) -->
  {% if sub_header_template %}
    {% include 'includes/sub_header/' + sub_header_template %}
  {% endif %}

  <!-- Contenu principal de la page -->
  {% block content %}{% endblock %}
  <!-- Pied de page -->
  {% include 'footer.html' %}
  <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</body>
</html>