<!-- En-tête secondaire -->
<div class="sub-header">
  <!-- Boutton pour accéder aux filtres -->
  <button class="filter-toggle" aria-label="Ouvrir les filtres">☰ Filtres</button>

  <!-- Sous-titre de la page -->
  <h1>{{ page_sub_title }}</h1>

  <!-- Barre de navigation secondaire -->
  <nav class="sub-navbar">
    <ul>
      <li><a href="{{ url_for('jeu_chroniques') }}" class="active">Chroniques</a></li>
      <li><a href="{{ url_for('jeu_ouvrages') }}">Ouvrages</a></li>
      <li><a href="{{ url_for('jeu_points_prelevement') }}">Ponits de prélèvement</a></li>
    </ul>
  </nav>
</div>